{% extends "users_manage/page.html" %} 
{% load i18n %}
{% block title %}首页{% endblock %}

  {% block taskshow%}
    <div class="container theme-showcase" role="main">
{#      <div class="page-header">#}
{#        <h1>互刷区</h1>#}
{#          <div class="alert alert-success" role="alert">互刷区</div>#}
{#      </div>#}

      <div class="panel panel-default">
              <div class="panel-body" style="font-size: 14pt;">
{#                 <div class="alert alert-success" role="alert">...</div>#}

                  <span class="label label-info" style="font-size: 12pt;margin: 0px 10px 0px 0px;">任务编号:3421</span>
                  <span class="label label-info" style="font-size: 12pt;margin: 0px 10px 0px 0px;">店铺类型（C店）</span>
                  <span class="label label-info" style="font-size: 12pt;">城市行业（深圳童鞋）</span>
                  <span class="label label-danger" style="font-size: 12pt;float: right;margin: 0px 10px 0px 0px;padding: 7px 5px;">联系QQ（212143121）</span>


                <hr style="margin: 10px 0px;">
                  <span class="label label-success" style="font-size: 12pt;margin: 0px 10px 0px 0px;">发布时间: </span>
                  <span class="label label-primary" style="font-size: 12pt;">2014/8/22 15:50 </span>

                <hr style="margin: 10px 0px;">
                  <span class="label label-success" style="font-size: 12pt;margin: 0px 10px 0px 0px;">价格范围: </span>
                  <span class="label label-primary" style="font-size: 12pt;">xx </span>
                <hr style="margin: 10px 0px;">
                  <span class="label label-success" style="font-size: 12pt;margin: 0px 10px 0px 0px;">基本要求: </span>
                  <span class="label label-primary" style="font-size: 12pt;">周不过12 </span>&nbsp;&nbsp;
                  <span class="label label-primary" style="font-size: 12pt;">月不过12 </span>&nbsp;&nbsp;
                  <span class="label label-primary" style="font-size: 12pt;">卖家号：接受 </span>&nbsp;&nbsp;
                  <span class="label label-primary" style="font-size: 12pt;">需要签收</span>&nbsp;&nbsp;
                  <span class="label label-primary" style="font-size: 12pt;">需要假聊</span>&nbsp;&nbsp;
                  <span class="label label-primary" style="font-size: 12pt;">信誉大于12 </span>&nbsp;&nbsp;

                  <hr style="margin: 10px 0px;">
                  <span class="label label-success" style="font-size: 12pt;margin: 0px 10px 0px 0px;">不刷事项: </span>
                  <span class="label label-primary" style="font-size: 12pt;">月不过12 </span>
                  <hr style="margin: 10px 0px;">

                  <span class="label label-success" style="font-size: 12pt;margin: 0px 10px 0px 0px;">其他要求: </span>
                  <span class="label label-primary" style="font-size: 12pt;">134~453元 </span>
                  <div class="bs-callout bs-callout-info">
ssd

                  </div>




              </div>
              

      </div>


      <table class="table table-bordered text-center ">
      <thead  >
        <tr  >
          <th class="text-center " style="min-width:63px">周不过</th>
          <th class="text-center" style="min-width:63px" >月不过</th>
          <th class="text-center" style="min-width:63px">卖家号</th>
{#            接受/不接受#}
          <th class="text-center" style="min-width:42px">签收</th>
          <th class="text-center" style="min-width:48px">假聊</th>

          <th class="text-center" style="min-width:84px">店铺类型</th>
          <th class="text-center" style="min-width:84px">信誉大于</th>

            <th class="text-center" style="min-width:84px">城市行业</th>
            <th class="text-center" style="min-width:84px">不刷的</th>


            <th class="text-center" style="min-width:84px" >最低价格</th>
            <th class="text-center" style="min-width:84px">最高价格</th>

            <th class="text-center">其他</th>

        </tr>
      </thead>
      <tbody>
              {% for task in page_obj.object_list%}
        <tr>
          <td >{{ task.week_limited }}</td>
          <td >{{ task.month_limited}}</td>
          <td >{{ task.is_seller }}</td>
          <td >{{ task.chat_required }}</td>
          <td >{{ task.sign_required }}</td>
          <td >{{ task.shop_type }}</td>
          <td >{{ task.reputation_gt }}</td>
          <td >{{ task.city_and_sector }}</td>
          <td >
{#              {{ task.not_do }}#}

              {% for not_do in task.not_do %}
                  {{ not_do }},
                  {% endfor %}
          </td>
          <td >{{ task.min_payment }}</td>
          <td >{{ task.max_payment }}</td>
          <td >{{ task.other_info }}</td>
          </tr>
        {%endfor%}


      </tbody>

    </table>
    <div style="width:580px;margin: 0 auto;" >
        <ul class="pagination pager" >
           {% if page_obj.has_previous %}
          <li class="previous" ><a href="{{url_prefix}}?page={{page_obj.previous_page_number}}">上一页</a></li>
          {%else%}
          <li class="previous" ><a href="#">没有啦</a></li>
          {% endif %}
            {% for i in pagination_list %}
                   <li ><a href="{% url 'hs_info:index' %}?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="next"><a href="{{url_prefix}}?page={{page_obj.next_page_number}}">下一页</a></li>
          {%else%}
          <li class="next" ><a href="#">没有啦</a></li>
          {% endif %}

        </ul>
    </div>
      
        </div>

{#        <div class="page_num">#}
{#            {% if page_obj.has_previous %}<a  href="{{url_prefix}}?page={{page_obj.previous_page_number}}">{% trans %}Previous{% endtrans %}</a>{% endif %}#}
{#            {{ page_obj.number }} / {{ paginator.num_pages }}#}
{#            {% if page_obj.has_next %}<a href="{{url_prefix}}?page={{page_obj.next_page_number}}">{% trans %}Next{% endtrans %}</a>{% endif %}#}
{#        </div>#}
{#        {% endif %}#}

       


{% endblock %}
</html>