<!DOCTYPE html>
<html>
<head lang="en">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>测试页面</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/js/hs.js"></script>
</head>

<body>


  <form action="" class="form-signin" role="form" method='post' id="user_register_form" >
        {% csrf_token %}


        <button id="btn">SubmitBtn</button>

  </form>



<p id="p">将被替换的内容</p>



</body>
</html>